<template>
	<div>

		<div class = 'card-header'>
			<h3>Tasks todo</h3>
		</div>
		<div class = 'card'>
			<div class = 'card-content'>
				<to-do-list></to-do-list>
			</div>
		</div>
	</div>
</template>

<script>
import TodoList from './TodoList.vue'
export default {
	data: () => ({

		items: [],

	}),
	components: {
		"to-do-list": TodoList,
	},
	methods: {
		openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		},
		closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	}
}
</script>

<style>

.card {


	background-color: white;
	display: block;
	margin: auto;
	margin-top: 1.5em;



	max-width: 40em;
	height: 30em;
	text-align: center;

 
	border-radius: 0.5em;
	
	-moz-box-shadow: 0 0 2em #ccc;
	-webkit-box-shadow: 0 0 2em #ccc;
	box-shadow: 0 0 2em #ccc;

}


.card-header {
	border-radius: 0.5em;
	background-color: #4da6ff;
	color: white;
	padding-top: 0.3em;
	padding-bottom: 0.7em;
	display: block;
	margin: auto;
	margin-top: 3em;



	max-width: 40em;
	height: 3em;
	text-align: center;

 
	/*border-radius: 0.5em;*/
	
	-moz-box-shadow: 0 0 2em #ccc;
	-webkit-box-shadow: 0 0 2em #ccc;
	box-shadow: 0 0 2em #ccc;
}

.card-content {
	padding: 3.5em;
}

@media screen and (max-width: 900px) {
	.card {max-width: 21em;margin-top: 0.5em;}
	.card-header {max-width: 21em;margin-top: 1em;}
	.new-task{margin-left: -4em; width: 22em;}
	.add-button {position: relative; margin: 1em;}
}
</style>