<template>
	<div class = 'todotask'>
		<input type="checkbox" @click.stop = 'toggleDone'>
		<span class="space-left">
			{{taskTitle}}
		</span>
		<a href="javascript:void(0)" @click.stop = 'filterColor'>
			<span class="space-left" :style = "{'color': color}">
				{{priority}}
			</span>
		</a>
		
		<span class = 'to-right'>
			<font-awesome-icon icon="trash" @click.stop = 'removeItem'></font-awesome-icon>
		</span>
		<span @click = 'togglePin' class = 'to-right space-right ' :class = "{'not-pinned' : !pinned}">
			<font-awesome-icon icon="map-pin" ></font-awesome-icon>
		</span>

	</div>
</template>

<script>
	
	export default {
		props: {
			taskTitle	: String,
			priority	: Number,
			pinned		: Boolean,
			color 		: String,
		},
		methods: {
			togglePin() {
				this.$emit('toggle');
			},
			removeItem() {
				this.$emit('delete');	
			},
			toggleDone() {
				this.$emit('toggleDone');	
			},
			filterColor() {
				this.$emit('filterColor');	
			},
		}
	}

</script>

<style>

.todotask {
	margin-bottom: 1.3em;
	position: relative;
	color: #737373;
	text-align: left;
}
.space-left {
	margin-left: 0.6em;
}
.space-right {
	margin-right: 2.3em;
}

.to-right {
	text-align: right;
	right: 0;
	position: absolute;
}

.not-pinned {
	opacity : 0.3;
}


a {
  text-decoration: none;
}
</style>