<template>
	<div :style = '{"position": "relative"}'>
		<div class = 'overflow-class' id = 'scroller'>
			<transition-group name="fade">
				<to-do-task
				class = 'todoTask'
				v-for = "item in sortedItems" :key = 'item.taskId' :taskTitle = 'item.getTitle()' :priority = "item.getPriority()" :pinned   = "item.isPinned" @toggle = 'togglePin(item)'
				@delete = 'removeItem(item)' :isDone = 'item.isDone'
				@toggleDone = 'toggleDone(item)' :color = 'item.color'
				@filterColor = 'filterColor(item)'
				>
				</to-do-task>
			</transition-group>
		</div>
		<div class="new-task">
			<div>
				<textarea rows="4" cols="25" placeholder= 'new task...' v-model = "newTaskTitle" class = 'space-left'>
				</textarea>
				<button @click.stop = "addTask" class = 'add-button ' placeholder= 'priority...'> 
					<h3>
						+ 
					</h3>
				</button>
			</div>
			<div>
				<textarea class = 'space-left' rows="1" cols="10" placeholder= 'priority...' v-model = "newTaskPriority">
				</textarea>

			</div>

			<div>
				<select class = 'grey-text' v-model = 'newColor'>
					<option value="black">color</option>
					<option value="red">red</option>
					<option value="green">green</option>
					<option value="orange">orange</option>
					<option value="#0066ff">blue</option>
					<option value="yellow">yellow</option>
				</select>
			</div>

			
		</div>
	</div>
</template>


<script>
import TodoTask from './TodoTask.vue'
class Task {
	constructor(_object) {
		this.title  	= _object._title;
		this.taskId 	= _object._id;
		this.priority 	= parseInt(_object._priority);
		this.isPinned	= _object._pinned;
		this.isDone		= false;
		this.color 		= _object._color;
	}
	getTitle() {
		return this.title;
	}
	getPriority() {
		return this.priority;
	}
}
export default {
	data: () => ({
		idCounter: 0,
		newPinned: false,
		newTaskTitle: "",
		newTaskPriority: undefined,
		newColor: 'black',
		lastColor: '',
		items: [

		],


	}),
	components: {
		"to-do-task": TodoTask,
	},
	computed: {
		sortedItems() {
			return this.sortTasks(this.items);
		}
	},
	methods: {
		sortTasks (items) {
			let _array1 = items.filter(a => a.isPinned == true && a.isDone == false);
			let _array2 = items.filter(a => a.isPinned == false && a.isDone == false);
			let _array3 = items.filter(a => a.isDone == true);
			let compare = (a, b) => {
				return a.getPriority() - b.getPriority();
			}

			_array1.sort(compare);
			_array2.sort(compare);
			_array1 = _array1.concat(_array2);
			_array1 = _array1.concat(_array3);
			var _this = this;
			if (this.lastColor != '') {
				let filteredItems = _array1.filter(function( tsk ) {
					return tsk.color == _this.lastColor;
				});
				_array1 = filteredItems;
			}

			return _array1;
		},
		addTask() {
			if (this.newTaskTitle == '') {
				this.newTaskTitle= 'empty';
			}
			if (this.newTaskPriority == undefined)
				this.newTaskPriority= 1;
			let _object 	= {
				_title		:	this.newTaskTitle,
				_id			:	this.getNewId(),
				_priority	:	this.newTaskPriority,
				_pinned		:	this.newPinned,
				_color		: 	this.newColor,
			}

			let newTask 	= new Task(_object);
			this.items.push(newTask);
			this.clearInput();
			var myDiv = document.getElementById('scroller');
			myDiv.scrollTop = myDiv.scrollHeight;

		},

		getNewId() {
			return	this.idCounter++;
		},

		clearInput() {
			this.newTaskPriority = undefined;
			this.newTaskTitle 	 = "";
			this.newPinned		 = false;
		},
		togglePin(item) {
			item.isPinned = !item.isPinned;
		},
		removeItem(item){
			this.items = this.items.filter(function( tsk ) {
				return tsk.taskId != item.taskId;
			});
		},
		toggleDone(item) {
			item.isDone = !item.isDone;
		},
		filterColor(item) {
			if (this.lastColor == item.color)
				this.lastColor = "";
			else 
				this.lastColor = item.color
			// let filteredItems = this.items.filter(function( tsk ) {
			// 	return tsk.color == item.color;
			// });

			// this.items = this.sortTasks(filteredItems);
		}
	}
}
</script>


<style>

.overflow-class {
  height: 15em;
  padding:0.5em;
  overflow: auto;
}
.new-task {
	top:16em;
	bottom: 0;
	position: absolute;
	width: 30em;
	height: 10em;
}

.add-button {
	position: absolute;
	margin-left: 2em;
	border-radius: 100%;
	border-style : none;
	outline : none;
	background-color: #66b3ff;
	width: 4em;
	height: 4em;
	color: white;

}

.grey-text {
	color: #737373;
	border: 0.15em solid #ccc;
	border-radius: 0.2em;
	box-sizing: border-box;
}

.add-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fade {
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.fade-enter-active, .fade-leave-active {
	transition: margin-left 0.5s;
	
}
.fade-enter, .fade-leave-to {
	margin-left : 4em;
}

.p {
	outline: none;
}
textarea {
  resize: none;
  border: 0.15em solid #ccc;
  border-radius: 0.2em;
  box-sizing: border-box;
}

</style>