<template>
  <div id="app">
    <main-panel></main-panel>
  </div>
</template>

<script>

import MainPanel from './components/MainPanel.vue'

export default {
  name: 'App',
  components: {
    'main-panel': MainPanel,
  }
}
</script>

<style>
#app {
  background-color : #e6e6ff;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}
</style>
